{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Страница команды {{ team.title }}</h1>

    <br>Менеджер команды: {{ team.manager }}
    <br>Телефон: {{ team.phone }}

    <br>Рейтинг: 4,87★
    <br>Месяцы: 7
    <br>Из: Киев
    <br>Сыграно матчей: 150
    <br>Уровень: профессионал
    <br>Был на сайте только что
    <br>Среднее время ответа 3 часа

    <br>Бейджы:
    <ul>
        <li>Приходит вовремя</li>
        <li>Честная игра</li>
        <li>Безопастность обеспечил</li>
        <li>Старожил</li>
    </ul>

{% endblock %}
